# The URL of the backend API (used by the frontend)
REACT_APP_API_URL=https://api.promptmanager.pairpad.com

# The URL of the frontend (used by the backend for CORS)
BACKEND_CORS_ORIGIN=https://promptmanager.pairpad.com
